*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1500px;
	margin: 0 auto;
}
.top{
	width: 1250px;
	height: 101px;
}
.logo{
	width: 170px;
	height: 39px;
	margin-left: 150px;
	margin-top: 33px;
	float: left;
	}
.nav{
	float: left;
	margin-left: 80px;
	margin-top: 40px;
}
.nav a{
	text-decoration: none;
	text-align: center;
}
a:hover {
	border-bottom: 2px solid blue;
}
.first{
	list-style: none;
	display: inline-block;
	width:100px;
 	height:30px;
 	line-height: 30px;
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(5,5,5,1);
}
.p1{
	width:60px;
	height:12px;
	font-size:14px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(101,101,101,1);
	float: right;
	margin-top: 35px;
}
.form{
	margin-left: 850px;
	margin-top: 30px;
}
.search{
	width: 300px;
	height: 30px;
	float: left;
	border: 1px solid blue;
}
.submit {
    float: left;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    border: 1px solid blue;
    background: url('../images/矩形 9.png') no-repeat center center;
}
.banner{
	height: 400px;
	position: relative;
}
.banner li{
	width: 100%;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
}
.banner-one{
	background: url('../images/矩形 54.png') no-repeat center center;
}
.banner-two{
	background: url('../images/banner2.png') no-repeat center center;
}
.text{
	position: absolute;
	left: 10%;
	height: 400px;
}
.nav8{
	width:121px;
	height:220px;
	display:inline-block;
	float:left;
	top: 50px;
	left: 10%;
}
.nav8 li{
	height:40px;
	line-height:40px;
	padding-left:20px;
	width:101px;
	display:inline-block;
}
.l7{
    padding-top:27px;
}
.nav8 a{
	color:white;
	font-size:14px;
	display:inline-block;
}
.nav9{
	width:69px;
	height:220px;
	display:inline-block;
	float:left;
	top: 50px;
}
.nav9 li{
	width:5px;
	height:9px;
	margin-bottom:40px;
	margin-left:43px;
}
.l8{
	margin-top:40px;
}
.down{
	width: 100%;
	height: 400px;
}
.on{
	width: 100%;
	left: 30%;
	height: 400px;
}
.tuijian{
	width: 1200px;
	height: 30px;
	padding: 25px;
	background:rgba(255,255,255,1);
	box-shadow:0px 2px 2px 0px rgba(118,118,118,0.2);
	margin: 0 auto;
	left: 10%;
	margin-top: 8px;
}
.nav1 li{
	display: inline-block;
	width: 120px;
	height: 16px;
	text-align: center;
	font-size:16px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	line-height: 16px;
}
.nav1 .a1{
	color: #050505;
}
.l1{
	border-right: 1px solid rgba(190,190,190,1)
}
.one{
	border-right: 1px solid rgba(190,190,190,1);
	color:rgba(0,163,255,1);
}
.last2{
	color:rgba(0,163,255,1);
}
.last2{
	float: right;
}
.jingpin{
	width: 1200px;
	height: 600px;
	margin-top: 35px;
	margin: 0 auto;
}
.container3{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.p2{
	float: left;
	font-size:20px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(72,72,72,1);
	margin-top: 35px;
}
.a2{
	float: right;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(165,165,165,1);
	margin-top: 42px;
}
.container4{
	width: 1200px;
	height: 570px;
	margin: 0 auto;
	margin-top: 40px;
}
.l2{
	height:270px;
	width:228px;
	background:rgba(255,255,255,1);
	box-shadow:0px 2px 3px 0px rgba(118,118,118,0.2);
	display:inline-block;
	margin-bottom:15px;
	float: left;
	margin-left: 10px;
}
.tu1{
	height:155px;
	width:228px;
}
.p3{
	width:185px;
	height:34px;
	font-size:14px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(5,5,5,1);
	line-height:20px;
	padding-left:23px;
	padding-right:20px;
	padding-top:24px;
	padding-bottom:18px;
}
.span1{
	width:119px;
	height:13px;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,124,45,1);
	padding-left:23px;
}
.nav5{
	margin-left: 450px;
}
.l3{
	display: inline-block;
	font-size:16px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(0,163,255,1);
	text-align: center;
	width: 60px;
	height: 20px;
	line-height: 20px;
	margin-top: 40px;
}
.a4{
	color: #00A3FF;
}
.a3{
	color: black;
}
.a5{
	margin-top: 20px;
	float: right;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(165,165,165,1);
}
.container6{
	margin-top: 40px;
}
.container7{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.nav6{
	width: 1200px;
	height: 400px;
	margin-top: 100px;
	margin: 0 auto;
}
.l4{
	display: inline-block;
	float: left;
	margin-left: 10px;
}
.tu2{
	width: 350px;
	height: 320px;
}
.tu3{
	width: 230px;
	height: 340px;
	position: relative;
}
.yin1{
	width:228px;
	height:122px;
	background:rgba(0,0,0,1);
	opacity:0.5;
	position: absolute;
	display: block;
	top: 1870px;
}
.name{
	width:120px;
	height:18px;
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(255,255,255,1);
	line-height:20px;
	padding-top:21px;
	padding-bottom:12px;
	padding-left:33px;
}
.jieshao{
	width:175px;
	height:53px;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:20px;
	padding-left:29px;
}
.bottom{
	width:100%;
	height:417px;
	background:rgba(255,255,255,1);
	padding-top:73px;
}
.di{
	width: 200px;
	height: 40px;
}
.tu5{
	margin-left: 50px;
	margin-top: 50px;
}
.d2{
	display:inline-block;
	padding-left:424px;
	padding-top:129px;
	width:79px;
	height:17px;
	margin-left: 50px;
	margin-top: 20px;
}
.d2 p{
	font-size:15px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:21px;
}
.d6{
	width:48px;
	height:96px;
	display:inline-block;
	padding-left:200px;
}
.d6 p{
	font-size:12px;
	font-family:SimSun;
	color:rgba(51,51,51,1);
	line-height:21px;
}
.d3{
	width:64px;
	height:17px;
	padding-top:130px;
	padding-left:146px;
	display:inline-block;
	margin-left: 50px;
	margin-top: 20px;
}
.d3 p{
	font-size:16px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:21px;
}
.d7{
	width:95px;
	height:96px;
	display:inline-block;
	padding-left:177px;
}
.d7 p{
	font-size:12px;
	font-family:SimSun;
	color:rgba(51,51,51,1);
	line-height:21px;
}
.d4{
	width:64px;
	height:17px;
	padding-top:130px;
	display:inline-block;
	float:right;
	margin-left: 50px;
	margin-top: 20px;
}
.d4 p{
	font-size:16px;
	font-family:Microsoft YaHei;  
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:21px;
}
.d8{
	width:50px;
	height:33px;
	display:inline-block;
	float:right;
}
.d8 p{
	font-size:12px;
	font-family:SimSun;
	color:rgba(51,51,51,1);
	line-height:21px;
}
.d5{
	width:380px;
	height:12px;
	display:inline-block;
	padding-bottom:33px;
	padding-left:18px;
	float:left;
}
.d5 p{
	font-size:12px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:18px;
}
.d9{
	width:120px;
	height:36px;
	border:1px solid #00A4FF;
	text-align:center;
	padding-left:18px;
	text-align:center;
	line-height:36px;
	margin-left: 100px;
}
.d9 p{
	width:63px;
	height:15px;
	font-size:16px;
	font-family:Microsoft YaHei;
	color:rgba(0,164,255,1);
	line-height:15px;
	margin:auto;
	text-align:center;
	display:inline-block;
}